body {
    font-family: Arial;
    margin: 0;
    background: #f2f2f2;
}

.container {
    padding: 20px;
}

.form-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input,
button {
    padding: 10px;
    font-size: 15px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056cc;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}